<?xml version="1.0" encoding='windows-1252'?>
<!--
Copyright (c) 2014, Matthew Doiron. All rights reserved.

IDF+ is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

IDF+ is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with IDF+. If not, see <http://www.gnu.org/licenses/>.
-->
<?define ProductVersion = "0.1.0"?>
<?define ProductUpgradeCode = "10CA1CAE-5653-4EA9-A405-194625843278"?>
<?define ProductName = "IDFPlus"?>
<?define CompanyName = "Mindful Modeller"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)"
             Name="$(var.ProductName)" Version="$(var.ProductVersion)"
             Manufacturer="$(var.CompanyName)" Language="1033" Codepage="1252">

        <Package Id="*" InstallerVersion="200" Compressed="yes" SummaryCodepage="1252"
                 Comments="$(var.ProductName) Installer Package" Platform="x64"/>
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
        <Icon Id="idfplus.exe" SourceFile="idfplus.exe"/>
        <Property Id="ARPPRODUCTICON" Value="idfplus.exe"/>
        <Property Id="ARPURLINFOABOUT" Value="https://mindfulmodeller.ca"/>
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
        <WixVariable Id="WixUILicenseRtf" Value="..\LICENSE.rtf"/>

        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="no" Property="NEWERVERSIONDETECTED"/>
            <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes"
                            IncludeMaximum="yes" Property="OLDERVERSIONBEINGUPGRADED"/>
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

        <!--Directory structure-->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLDIR" Name="$(var.ProductName)"/>
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="ProgramMenuSubfolder" Name="$(var.ProductName)"/>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop"/>
        </Directory>

        <!--Start Menu Shortcuts-->
        <DirectoryRef Id="ProgramMenuSubfolder">
            <Component Id="ProgramMenuShortcuts" Guid="477999A6-9242-4A98-8809-0AE44A6C00BC">
                <Shortcut Id="ApplicationShortcut" Name="$(var.ProductName)" Description="Enhanced IDF Editor"
                          Target="[INSTALLDIR]idfplus.exe" WorkingDirectory="INSTALLDIR"/>
                <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\$(var.ProductName)"
                               Name="installedProgramMenu" Type="integer" Value="1" KeyPath="yes"/>
                <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
                <Shortcut Id="UninstallShortcut" Name="Uninstall $(var.ProductName)"
                    Description="Uninstalls $(var.ProductName) and all of its components"
                    Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
            </Component>
        </DirectoryRef>

        <!--Desktop Shortcuts-->
        <DirectoryRef Id="DesktopFolder">
            <Component Id="DesktopShortcut" Guid="5807313C-303B-42AF-9D09-17D77D77BBA0">
                <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="$(var.ProductName)"
                          Icon="idfplus.exe" Target="[INSTALLDIR]idfplus.exe"/>
                <RegistryValue Root="HKCU" Key="Software\$(var.CompanyName)\$(var.ProductName)"
                               Name="installedDesktop" Type="integer" Value="1" KeyPath="yes"/>
                <RemoveFile Id="DesktopShortcut" Name="$(var.ProductName)" On="uninstall"/>
            </Component>
        </DirectoryRef>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallInitialize"/>
        </InstallExecuteSequence>

        <Feature Id="Complete" Level="1" Title="Complete package">
            <ComponentGroupRef Id="IDFPlusComponents" />
            <ComponentRef Id="ProgramMenuShortcuts" />
            <ComponentRef Id="DesktopShortcut" />
        </Feature>

        <UIRef Id="WixUI_InstallDir" />
        <UIRef Id="WixUI_ErrorProgressText" />

    </Product>

</Wix>
