[Desktop Entry]
Name=IDFPlus Editor
Version=0.1.0-b8
Comment=Enhanced editor for EnergyPlus input files
Exec=idfplus %f
Icon=/opt/idfplus/idfplus.png
Terminal=false
Type=Application
Categories=Editor
StartupNotify=true
MimeType=application/x-python
